html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

table {
    width: 100%;
    background-color: #1A74EC;
    border-radius: 14px;
}

td {
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
}

.address {
    letter-spacing: 0.1em;
    line-height: 21.79px;
    font-family: 'Open Sans', sans-serif;
}