html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

table {
    width: 100%;
}

th {
    padding: 20px;
    text-align: left;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #B6C7D3CC;
    border-top: 1px solid #B6C7D3CC;

    &:first-child {
        padding-left: 0;
    }
}

td {
    padding: 20px;
    &:first-child {
        padding-left: 0;
    }
}
