html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

table {
    width: 100%;
}

th {
    padding: 20px;
    text-align: left;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #b6c7d3cc;
    border-top: 1px solid #b6c7d3cc;

    &:first-child {
        padding-left: 0;
    }

    &:not(:first-child) {
        text-align: right;
    }
}

td {
    padding: 20px;
    text-transform: capitalize;
    text-decoration: none;
    &:first-child {
        padding-left: 0;
    }

    &:not(:first-child) {
        text-align: right;
    }
}
