@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #b1aef9;
}

/* Helpers */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-strike {
    text-decoration: line-through;
}

.Toastify__toast-container--top-right {
    top: 6rem !important;
}

.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 3px;
}

.loading-dots__dot {
    display: inline-block;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    background-color: white;
    &:not(:last-child) {
        margin-right: 3px;
    }
}
