.test-component {
  display: flex;
  padding: 32px;
  align-items: center;
  grid-column-gap: 24px;

  border-radius: 8px;

  background-color: hsla(0, 0.00%, 93.16%, 1.00);
}

.image {
  width: 24px;
  height: 24px;
}

.left-text {
  flex: 1;
  font-family: Lato, sans-serif;
  font-size: 16px;
  text-align: right;
}